<app-header></app-header>
<main class="main">
  <div class="contacts-block">
    <div class="photo">
      <img src="https://static.cdn.epam.com/avatar/83c84641083bdeb90371a91a618db2ca.jpg">
    </div>
    <div class="info">
      <span class="info__name">Aliaksandr Kazerski</span>
      <span class="info__position">Junior Software Engineer</span>
      <a class="info__office" href="https://officespace.epam.com/app/officemap/user/4060741400380548136">Kuprevicha, 3V, 6th floor-B630, 630.11</a>
    </div>
  </div>
  <app-sidebar></app-sidebar>
</main>
<app-footer></app-footer>
